*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: #FFEBD8;
    max-width: 1440px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 26px 0;
    border: 1px solid #000;
}
header ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 60px;
    
}

header ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 20px;
}

header button{
    background-color: #ED4D1B;
    color: #000;
    padding: 13px;
    border: 2px solid black;
    box-shadow: 4px 4px 0 0 #1E1E1E;
    font-size: 20px;
    width: 200px;
    font-weight: 700;
}

.banner{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid #000;
}

.banner-text{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    padding: 90px;
}

.banner-text h2{
    font-size: 64px;

}

.banner-text h2 span{
    color: #ED4D1B;
}

.banner-text p{
    font-size: 24px;
    line-height: 28px;
    margin: 32px 0;
}

.banner-text button{
    background-color: #ED4D1B;
    color: #000;
    padding: 13px;
    border: 2px solid black;
    box-shadow: 4px 4px 0 0 #1E1E1E;
    font-size: 20px;
    width: 200px;
    font-weight: 700;
}


.banner-img{
    /* max-width: 842px;
    max-height: 561px; */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
}


.banner-img img{
    object-fit: cover;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
}


